* {
  max-width: 1000px;
  margin: auto;
}


body {
  background-image: url("https://img.freepik.com/free-vector/stars-could-sky-background-pastel-color_56745-159.jpg?size=626&ext=jpg");
  background-repeat: repeat-x;
}

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #b19cd9;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: #ffd1dc;
  float: left;
  position: fixed;
}


.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 500px;
}

p,
li {
  font-family: 'Courier';
}

.head {
  font-size: 20px;
}

#name {
  font-family: 'Lato';
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}
 {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}